.containerOptions {
  width: 300px;
  margin: auto;
}


.filters {
  display: flex;
  justify-content: space-between;
}

.filters select {
  padding: 6px;
  background-color: var(--primary-color);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin: 0px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.filters select:focus {
  outline: 1px solid white;
}