.modalProduct {
  display: grid;
  grid-template-rows: 150px 205px 73px 60px;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 600;
}

.submit {
  border: 1px solid #dbdbdb61;
  width: 150px;
  padding: 5px;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  font-weight: 600;
  border-radius: 3px;
  color: white;
  justify-self: center;
  cursor: pointer;
}

.modalProduct:first-child {
  margin-left: auto;
  margin-right: auto;
}

.checkBox {
  position: relative;
}

.modalProduct.active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, -50%,0px);
}

.modalProduct div {
  width: max-content;
}

.modalProduct .containerStock,.modalProduct .containerSales {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.modalProduct label,p {
  color: white;
  padding: 5px 0px;
  font-size: 0.96rem;
}

/***************img****************/

.modalProduct .containerImg {
  display: flex;
  position: relative;
  justify-self: center;
  flex-direction: column;
  width: 187px;
}

.containerImg input[type='file'] {
  position: relative;
  color: transparent;
  padding: 5px 0px;
  width: 150px;
  cursor: pointer;
}

.containerImg input[type='file']::after {
  color: white;
  padding-top: 6px;
  padding-left: 6px;
  font-family: var(--primary-font);
  font-weight: 600;
  display: block;
  position: absolute;
  top: 2px;
  border: 1px solid #dbdbdb61;
  background-color: var(--primary-color);
  height: 21px;
  width: 141px;
  border-radius: 3px;
}

.containerImg input[type='file'].create::after {
  content: 'Escolher uma Imagem';
}

.containerImg input[type='file'].edit::after {
  content: 'Editar minha Imagem';
}

.containerImg input[type='file'].active::after {
  content: '';
}

.loading {
  display: none;
  position: absolute;
  display: flex;
  top: 14px;
  left: 6px;
}

.loading span {
  display: none;
  height: 6px;
  width: 6px;
  background: white;
  border-radius: 100%;
  margin: 0px 2px;
}

.loading.active {
  display: flex;
}

.loading.active span {
  display: block;
}

.loading.active span:nth-child(1) {
  animation-name: loading;
  animation-delay: 0.5s;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

.loading.active span:nth-child(2) {
  animation-name: loading;
  animation-delay: 0.6s;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

.loading.active span:nth-child(3) {
  animation-name: loading;
  animation-delay: 0.7s;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}


@keyframes loading {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1px);
    opacity: .5;
  }
  60% {
    transform: translateY(-3px);
    opacity: 0;
  }
  80%{
    transform: translateY(0);
    opacity: 1;
  }
}

.containerImg .productPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.containerImg .productPreview img {
  padding-top: 15px;
  width: 50px;
  height: 75px;
}

/***************Sizes product***************/

.productSize {
  display: grid;
  grid-template-columns: .5fr .5fr .5fr;
  margin: auto;
}

.productSize input{
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: var(--light-white);
  border: 1px solid #dbdbdb61;
  border-radius: 2px;
  outline: none;
  color: black;
  padding: 3px;
  width: 48px;
  margin: 3px;
}

.productSize input::placeholder {
  color: #0000009c;
}

.productSize label,p {
  margin: 3px;
  text-align: center;
}

.amount:nth-child(odd),.sales:nth-child(odd) {
  background-color: var(--primary-color);
  color: white;
}

.amount:nth-child(odd)::placeholder,.sales:nth-child(odd)::placeholder {
  color: rgba(255, 255, 255, 0.604);
}

.productSize label:nth-child(odd){
  color: var(--primary-color);
}

/*Datas*/
.datas {
  width: 200px;
  display: grid;
  grid-template-columns: 110px 41px;
  margin: auto;
}
/*for big numbers*/

.exitModal {
  background-color: var(--primary-color);
  position: absolute;
  top: -17px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  left: -11px;
  width: 35px;
  height: 34px;
}

.exitModal span {
  font-weight: 600;
  padding-top: 4px;
  padding-right: 1px;
  cursor: pointer;
}