.modalFinance {
  height: 300px;
  display: grid;
  grid-template-rows: repeat(3,50px);
}

.modalFinance.active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, -50%,0px);
}

.modalFinance {
  color: white;
}