.button {
  position: absolute;
  top: -12px;
  left: -13px;
  border-radius: 100%;
  border: none;
  height: 21px;
  width: 22px;
  background-color: #f44f4f;
  color: white;
  cursor: pointer;
}

.button span {
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 1px;
}

.button.right {
  right: -13px;
}

.button.left {
  left: -13px;
}