.createProduct {
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -45%,0px);
  background-color: var(--bg-color);
  border: 1px solid white;
  width: 300px;
  height: 430px;
  padding: 10px;

  display: grid;
  grid-template-rows: 150px repeat(3,60px) 90px;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-weight: 600;
}

.submit {
  border: 1px solid #dbdbdb61;
  width: 150px;
  padding: 5px;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  font-weight: 600;
  border-radius: 3px;
  color: white;
  justify-self: center;
  cursor: pointer;
}

.createProduct:first-child {
  margin-left: auto;
  margin-right: auto;
}

.checkBox {
  position: relative;
}

.createProduct.active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, -50%,0px);
}


.createProduct div {
  width: max-content;
}

.createProduct .containerStock,.createProduct .containerSales {
  display: flex;
  flex-direction: column;
  width: 40px;
}

.createProduct label,p {
  color: white;
  padding: 5px 0px;
  font-size: 0.96rem;
}

/***************img****************/

.createProduct .containerImg {
  display: flex;
  position: relative;
  justify-self: center;
  flex-direction: column;
  width: 187px;
}

.containerImg input[type='file'] {
  position: relative;
  color: transparent;
  padding: 5px 0px;
  width: 150px;
  cursor: pointer;
}

.containerImg input[type='file']::after {
  content: 'Escolher uma Imagem';
  color: white;
  padding-top: 6px;
  padding-left: 6px;
  font-family: var(--primary-font);
  font-weight: 600;
  display: block;
  position: absolute;
  top: 2px;
  border: 1px solid #dbdbdb61;
  background-color: var(--primary-color);
  height: 21px;
  width: 141px;
  border-radius: 5px;
}

.containerImg input[type='file'].active::after {
  content: '';
}

.loading {
  display: none;
  position: absolute;
  display: flex;
  top: 14px;
  left: 6px;
}

.loading span {
  display: none;
  height: 6px;
  width: 6px;
  background: white;
  border-radius: 100%;
  margin: 0px 2px;
}

.loading.active {
  display: flex;
}

.loading.active span {
  display: block;
}

.loading.active span:nth-child(1) {
  animation-name: loading;
  animation-delay: 0.5s;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

.loading.active span:nth-child(2) {
  animation-name: loading;
  animation-delay: 0.6s;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}

.loading.active span:nth-child(3) {
  animation-name: loading;
  animation-delay: 0.7s;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}


@keyframes loading {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1px);
    opacity: .5;
  }
  60% {
    transform: translateY(-3px);
    opacity: 0;
  }
  80%{
    transform: translateY(0);
    opacity: 1;
  }
}

.containerImg .productPreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
}

.containerImg .productPreview img {
  padding-top: 15px;
  width: 50px;
}

/***************Sizes product***************/

.containerSizes p {
  color: var(--primary-color);
  font-weight: 600;
}

.containerSizes label {
  position: relative;
}

.containerSizes .checkBox {
  display: flex;
}

.containerSizes .checkBox label input{
  position: relative;
  padding: 0 3px;
  font-weight: 600;
}

.containerSizes .checkBox label:nth-child(2),.containerSizes .checkBox label:nth-child(4){
  color: var(--primary-color);
}

.containerSizes .checkBox label:nth-child(2) input::after,.containerSizes .checkBox label:nth-child(4) input::after  {
  background-color: var(--primary-color);
}

.containerSizes .checkBox label:first-child {
  padding-left: 0px;
}

.containerSizes .checkBox label input::after {
  content: '';
  display: block;
  border-radius: 2px;
  border: 1px solid #dbdbdb61;
  background-color: var(--light-white);
  height: 14px;
  width: 14px;
}

.containerSizes .checkBox label input {
  margin: 0px 8px;
}

.check {
  display: none;
  transform: rotate(45deg);
  height: 10px;
  width: 6px;
  border-bottom: 2px solid #78b13f;
  border-right: 2px solid #78b13f;
  position: absolute;
  top: 8px;
  right: 10px;
}

.containerSizes .checkBox label:nth-child(1) .check,.containerSizes .checkBox label:nth-child(3) .check{
  border-color: rgb(34 80 29);
}

.containerSizes .checkBox label input:checked + .check{
  display: inline-block;
}
/***************Stock***************/
.createProduct .containerStock label {
  padding: 4px 0px;
}

.createProduct .containerStock input{
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: var(--light-white);
  border: 1px solid #dbdbdb61;
  border-radius: 2px;
  outline: none;
  color: black;
  padding: 3px;
}

/***************Sales***************/

.createProduct .containerSales label {
  padding: 4px 0px;
}

.createProduct .containerSales input{
  font-family: var(--primary-font);
  font-weight: 600;
  background-color: var(--primary-color);
  border: 1px solid #dbdbdb61;
  border-radius: 2px;
  outline: none;
  color: var(--light-white);
  padding: 3px;
}