.balance h1 {
  color: var(--primary-color);
  margin-top: 35px;
  margin-left: 20px;
  font-size: 1.8rem;
  font-family: var(--primary-font);
}

.balance h1 a {
  text-decoration: none;
}

.balance h1 a span {
  color: var(--light-white);
  text-decoration: underline;
}