.modalPayment {
  height: 350px;
  width: 300px;
  display: grid;
  grid-template-rows: 150px 90px 30px;
  justify-content: center;
  align-content: center;

}

.modalPayment.active {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, -50%,0px);
}

.schedulePaymentContainer {
  width: 180px;
}

.schedulePaymentContainer label {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: .9rem;
}

.schedulePaymentContainer input {
  width: 100%;
  padding: 3px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  margin-bottom: 16px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: .9rem;
  border-radius: 3px;
}

.checkBoxContainer {
  align-self: center;
  justify-self: center;
}

.checkboxContainer label {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: .9rem;
  border-radius: 3px;
}


.checkBoxContainer label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: .8rem;
  color: white;
  position: relative;
  cursor: pointer;
}

.checkBoxContainer label input {
  margin: 5px;
  position: relative;
  top: 2px;
}

.checkBoxContainer label input::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 14px;
  background-color: var(--primary-color);
  border-radius: 3px;
  transform: translateX(-1px);
  cursor: pointer;
}

.checkBoxContainer label span {
  display: none;
  transform: rotate(45deg);
  height: 10px;
  width: 6px;
  border-bottom: 2px solid #78b13f;
  border-right: 2px solid #78b13f;
  position: absolute;
  top: 1px;
  right: 8px;
  z-index: 1;
  cursor: pointer;
}

.checkBoxContainer label input:checked + span {
  display: block;
}

#submit {
  justify-self: center;
}